body {
  color: white;
  background-size: cover;
  background-image: url("src/assets/universe.jpg");
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800
}

.btn {
  padding: 6px 12px;
    background: white;
    border: none;
    font-family: inherit;
}