body {
  margin: 0;
  color: #82a5ca;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

#hero {
  background-image: url("src/assets/space.webp");
  background-size: cover;
  padding: 200px 0;
}

.btn {
  padding: 6px 12px;
    background: white;
    border: none;
    font-family: inherit;
    font-weight: bold;
    color: #82a5ca;
}

.ctn {
  border-bottom: 5px solid white;
  padding-bottom: 2px;
}