.main {
    margin-top: 100px;   
}

.logo-img {
    display: block;
    width: 300px;
    margin: 0 auto 20px auto;
}

.search-input {
    display: block;
    width: 400px;
    margin: 0 auto;
    line-height: 24px;
    padding: 10px 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 30px 4px 0 4px;
    background: #dfe1e5;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
}
body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: #a2d2ff;
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    margin-bottom: 10px;
}

#bday-age {
    padding: 5px 10px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    padding: 5px 10px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

.gift-img {
    margin: 0 auto;
    width: 450px;
    height: 400px;
    background-image: url("src/assets/react.svg");
    background-size: cover;
}

.gift-img:hover {
    background-image: url("src/assets/bday.webp");
}

#netflix {
    font-size: 80px;
    text-shadow: 5px -5px 5px black;
}

.profile {
    width: 600px;
}

.contents {
    width: 300px;
}